body{

}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;

}


.newschannel{
  margin-top: 20px;
  height: 100%;
}
.distributor{

}
.storys{
  overflow-y: scroll;
  overflow-x: hidden;

}
.story{
  height: 100%;

}
.headline{
  font-size: 100px;
}
.description{
  font-size: 50px;
}
.gotooutlet{

}
.readstory{

}


h4{
  font-size: 21px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

p{
  font-size: 14px;
  font-family: 'PT Serif', serif;
}


#side_news_logo{
  height:50px;
  display: block;
  margin: auto;
}

.top-bar{
  height: 120px;
  background-color: #BB3B3B;
  border-style: solid;
  border-width: 1px;
}

.top-bar-right{
  position: absolute;
  top: 50px;
  left: 75%;
  padding-right: 10px;
}

#large_screen_columns{
  visibility: hidden;
  height: 0px;
}

#medium_screen_columns{
  visibility: hidden;
  height: 0px;
}

#small_screen_columns{
  visibility: visible;
}

@media screen and (min-width: 640px) and (max-width: 1026px) {
  #medium_screen_columns{
    visibility: visible;
  }

  #small_screen_columns{
    visibility: hidden;
    height: 0px;
  }
}

@media screen and (min-width: 1026px) {
  #side_news_logo{
    height:50px;
    margin-left:5px;
    float: left;
  }

  .top-bar{
    height: 80px;
  }

  .top-bar-right{
    top: 20px;
    left: 80%;
  }

  #large_screen_columns{
    visibility: visible;
  }

  #small_screen_columns{
    visibility: hidden;
  }
}






.row{
  margin: auto;

}

.fi-list{
  position: absolute;
  left: 5%;
  top: 0px;
  font-size: 12px;
  font-size: 7vw;


}

.fi-magnifying-glass{
  position: absolute;
  top: 0px;
  right: 5%;
  font-size: 12px;
  font-size: 7vw;
}


.top-bar ul{
  background-color: #BB3B3B;
  padding-top: 10px;
}

.top-bar a{
  color: black;
}

.top-bar ul > li.has-dropdown a:after {
  border-color: #FF0000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.menu-icon{
  margin-left: 5%;
}

#category_container{
  height: 50px;
  position: absolute;
  top: 25px;
  margin-left: 5%;
}

.fi-magnifying-glass{
  font-size: 2.5em;
}


#menu_bar{
  top: 50px;
  height: 20px;
  width: 100%;
}

#main div{
  border-style: solid;
  border-width: 1px;
}
