/* basic page style*/
html,body{ margin:0; padding:0; height:100%; width:100%; }
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;

}

/*main container elements */
.main{
  margin-top: 30px;
}


/* news channel rss feeds*/
.distributorimg{
  height:50px;
  width: 70%;
}
.distributor{
margin-top: 30px;
}
.storys{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 600px;

}

div.storys::-webkit-scrollbar {
    width: 12px;
}

div.storys::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

div.storys::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.headline{
  font-size: 100px;
}
.description{
  font-size: 50px;
}

.readstory{

}
.thumbnail{
  box-shadow: none;
}

/* fonts and text*/
h4{
  font-size: 21px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

p{
  font-size: 14px;
  font-family: 'PT Serif', serif;
}

/* logo */
#side_news_logo{
  height:50px;
  display: block;
  margin: auto;
}

.top-bar{
  height: 80px;
  background-color: #BB3B3B;
  position :relative;*/
  z-index: 999;*/
}

#menu_bar{
  position: absolute;
  height: 30px;
  width: 30%;
}

@media screen and (min-width: 1026px) {
  #side_news_logo{
    height:50px;
    margin-left:5px;
    float: left;
  }

  .top-bar{
    position: static;
  }

  #menu_bar{
    margin-left: 0px;
    left: 250px;
  }
}
/*nav bar*/
.row{
  margin: auto;

}
.fi-list{
  position: absolute;
  left: 5%;
  top: 0px;
  font-size: 12px;
  font-size: 7vw;
}
.fi-magnifying-glass{
  position: absolute;
  top: 0px;
  right: 5%;
  font-size: 12px;
  font-size: 7vw;
}
.top-bar ul{
  background-color: #BB3B3B;
  padding-top: 10px;
}
.top-bar a{
  color: black;
}
.top-bar ul > li.has-dropdown a:after {
  border-color: #FF0000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.menu-icon{
  margin-left: 5%;
}
#category_container{
  /*width: 100%;*/
  height: 50px;
  position: absolute;
  top: 25px;
  margin-left: 5%;

}
.fi-magnifying-glass{
  font-size: 2.5em;
}
.top-bar-right{
  position: absolute;
  top: 20px;
  left: 70%;
}

/* sideNewsPanel */
#sideNewsPanel{
  background-color: green;
  height: 100%;
  border-width: 0px;
}
.reveal-overlay{
  background-color: rgba(10, 10, 10, 0);
}
