html,body{ margin:0; padding:0; height:100%; width:100%; }
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;

}
.main{
  margin-top: 30px;
}

.newschannel{



}
.distributorimg{
  height:50px;
  width: 110px;
}
.distributor{
margin-top: 30px;
}
.storys{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 600px;


}
.story{


}
.headline{
  font-size: 100px;
}
.description{
  font-size: 50px;
}
.gotooutlet{

}
.readstory{

}
.thumbnail{
  box-shadow: none;
}


h4{
  font-size: 21px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

p{
  font-size: 14px;
  font-family: 'PT Serif', serif;
}


#side_news_logo{
  height:50px;
  display: block;
  margin: auto;


}

@media screen and (min-width: 1026px) {
  #side_news_logo{
    height:50px;
    margin-left:5px;
    float: left;
  }
}



.row{
  margin: auto;

}

.fi-list{
  position: absolute;
  left: 5%;
  top: 0px;
  font-size: 12px;
  font-size: 7vw;


}

.fi-magnifying-glass{
  position: absolute;
  top: 0px;
  right: 5%;
  font-size: 12px;
  font-size: 7vw;


}

.top-bar{
  height: 80px;
  background-color: #BB3B3B;
}

.top-bar ul{
  background-color: #BB3B3B;
  padding-top: 10px;
}

.top-bar a{
  color: black;
}

.top-bar ul > li.has-dropdown a:after {
  border-color: #FF0000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.menu-icon{

  margin-left: 5%;
  /*top: -40px;*/
}

#category_container{
  /*width: 100%;*/
  height: 50px;
  position: absolute;
  top: 25px;
  margin-left: 5%;

}

.fi-magnifying-glass{
  font-size: 2.5em;

}

.top-bar-right{
  position: absolute;
  top: 20px;
  left: 70%;
}

#menu_bar{
  height: 10px;
  width: 100%;

}
